
.page__videos {
    margin-bottom: 108px;
    width: 94%; 
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .page__videos {    
      max-width: 928px; 
      width: 94%;   
    }
}


@media screen and (max-width: 555px) {
  .page__videos {    
    margin-bottom: 60px;     
  }
}