.comments__container {
    max-width: 100%;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;   
}

@media screen and (max-width: 768px) {
    .comments__container {                
       flex-direction: column;
       align-items: center;
    }
}
/*  */
@media screen and (max-width: 555px) {
    .comments__container {                
      margin-top: 35px;
    }
}