.lead__title {
    margin: 0 auto 3%; 
    padding-top: 15px;   
    max-width: 782px;
    

    font-weight: 900;
    font-size: 6rem;
    line-height: 1em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: calc( (100vw - 23.5rem)/(48 - 23.5) * (6 - 2.5) + 2.5rem);        
        max-width: 90%;
        margin: 0 auto 6%; 
    }
}



@media screen and (max-width: 375px) {
    .lead__title {              
        font-size: 2.5rem;         
        max-width: 90%;
        
    }
}
