.content-subtitle { 
    font-family: Inter, Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 640px;
    margin: 0px auto;
}

@media screen and (max-width: 768px) {
    .content-subtitle {
        font-size: calc( (100vw - 23.5rem)/(48 - 23.5) * (1.5 - 1) + 1rem);         
    }
}

@media screen and (max-width: 375px) {
    .content-subtitle {
        font-size: 1rem;
        max-width: 90%;        
    }
}