.page__lead {
    width: 82%;   
    max-width: 984px;
    margin-bottom: 68px;
}

@media screen and (max-width: 1024px) {
    .page__lead {
        width: 100%;
        max-width: 100%;
        margin-bottom: 74px;
    }
}

@media screen and (max-width: 555px) {
    .page__lead {
        margin-bottom: 65px;
    }
}


