.page__places {
    width: 82%;
    max-width: 984px;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .page__places {
        max-width: 928px;
        width: 94%;
    }
}



@media screen and (max-width: 670px) {
    .page__places {
        width: 100%;
     }
}
