.page__footer {
    width: 100%;
    max-width: 1184px;
}

@media screen and (max-width: 1280px) {
    .page__footer {        
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    .page__footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 700px) {
    .page__footer {
        max-width: 90%;
    }
}